{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="page-header">
    <div class="page-title">
    <h4>Landed Cost Calculation Factors</h4>
    <h6>Manage your sales</h6>
    </div>
    <div class="page-btn">
        <a href="#" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#create"><img src="/static/assets/img/icons/plus.svg" alt="img" class="me-1">Add New Costing Factor</a>
        </div>
    </div>





    {% if form_sub_dup %}
<div class="container">
    <div class="notice notice-danger">
        <strong>{{ form_sub_dup }}</strong>
    </div>
</div>
{% endif %}

{% if form_sub_success %}
<div class="container">
    <div class="notice notice-success">
        <strong>{{ form_sub_success }}</strong>
    </div>
</div>
{% endif %}



    <div class="card">
        <div class="card-body">

            <div class="table-top">
                <div class="search-set">
                <div class="search-path">
                <a class="btn btn-filter" id="filter_search">
                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                </a>
                </div>
                <div class="search-input">
                <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
                </div>
                </div>
                <div class="wordset">
                <ul>
                <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
                </li>
                <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
                </li>
                <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
                </li>
                </ul>
                </div>
                </div>


                <div class="card" id="filter_inputs">
                    <div class="card-body pb-0">
                    <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                    <input type="text" placeholder="Enter Name">
                    </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                    <input type="text" placeholder="Enter Reference No">
                    </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                    <select>
                    <option>Completed</option>
                    <option>Paid</option>
                    </select>
                    </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                    <a class="btn btn-filters ms-auto"><img src="assets/img/icons/search-whites.svg" alt="img"></a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>




                    <div class="table-responsive">
                        <table class="table  datanew">
                        <thead>
                        <tr>
                        <th></th>
                        <th>Category</th>
                        <th>Supplier</th>
                        <th>Currency</th>
                        <th>Exchange Rate</th>
                        <th>Duty</th>
                        <th>Freight Charges</th>
                        <th>Markup</th>
                        <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for data in results %}
                        <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.StockCategory }}</td>
                        <td>{{ data.SupplierName }}</td>
                        <td>{{ data.CurrencyCode }}</td>
                        <td>{{ data.ExchangeRateFactor }}</td>
                        <td>{{ data.DutyFactor }}</td>
                        <td class="text-green">{{ data.FreightChargesFactor }}</td>
                        <td class="text-red">{{ data.MarkupFactor }}</td>
                        <td class="text-center">
                        <a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                        <li>
                        <a href="sales-details.html" class="dropdown-item"><img src="assets/img/icons/eye1.svg" class="me-2" alt="img">Sale Detail</a>
                        </li>
                        <li>
                        <a href="edit-sales.html" class="dropdown-item"><img src="assets/img/icons/edit.svg" class="me-2" alt="img">Edit Sale</a>
                        </li>
                        <li>
                        <a href="javascript:void(0);" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#showpayment"><img src="assets/img/icons/dollar-square.svg" class="me-2" alt="img">Show Payments</a>
                        </li>
                        <li>
                        <a href="javascript:void(0);" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createpayment"><img src="assets/img/icons/plus-circle.svg" class="me-2" alt="img">Create Payment</a>
                        </li>
                        <li>
                        <a href="javascript:void(0);" class="dropdown-item"><img src="assets/img/icons/download.svg" class="me-2" alt="img">Download pdf</a>
                        </li>
                        <li>
                        <a href="javascript:void(0);" class="dropdown-item confirm-text"><img src="assets/img/icons/delete1.svg" class="me-2" alt="img">Delete Sale</a>
                        </li>
                        </ul>
                        </td>
                        </tr>
                        {% endfor %}
                
                
                
                
                
                        
                        </tbody>
                        </table>
                        </div>





                        <div class="modal fade" id="create" tabindex="-1" aria-labelledby="create" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Create New Landing Cost Factor</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                              <div class="modal-body">
                            <div class="row">
                              <!-- {{ form.as_p }}-->
                            <div class="col-lg-12 col-sm-12 col-12">
                            <div class="form-group">
                            <label>Customer Name</label>
                            <select class="form-select" name="supplier_name" required aria-label="select example">
                                <option value="">Select supplier below </option>
                                {% for supplier in suppliers %}
                                <option value="{{ supplier }}">{{ supplier|upper }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-12">
                            <div class="form-group">
                            <label>Category</label>
                            <select class="form-select" name="category" required aria-label="select example">
                                <option value="">Select valid currency below</option>
                                {% for category in categories %}
                                <option value="{{ category }}">{{ category|upper }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            </div> 
                            <div class="col-lg-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label>Currency</label>
                                <select class="form-select" name="currency" required>
                                    <option value>Select valid currency below</option>
                                    <option value="ZAR">ZAR</option>
                                    <option value="ZWL">ZWL</option>
                                    <option value="USD">USD</option>
                                    </select>
                            </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-12">
                            <div class="form-group">
                            <label>Exchange Rate</label>
                            <input type="text" name="exc_rate" required>
                            </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-12">
                            <div class="form-group">
                            <label>Duty Factor</label>
                            <input type="text" name="duty" required>
                            </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-12">
                            <div class="form-group">
                            <label>Freight Charges</label>
                            <input type="text" name="freight_charges" required>
                            </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-12">
                                <div class="form-group">
                                <label>Markup Factor</label>
                                <input type="text" name="markup" required>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                            <button type="submit" class="btn btn-submit me-2">Create New Factor</button>
                            <a class="btn btn-cancel" data-bs-dismiss="modal">Cancel</a>
                            </div>
                            </div>
                            </form>
                            </div>
                            </div>
                            </div>

    

</div>
</div>
{% endblock %}