{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="page-header">
    <div class="page-title">
    <h4>Current Product Price List</h4>
    <h6>Access and review the most up-to-date product pricing information.</h6>
    </div>
    <div class="page-btn">
        <form method="POST">
            {% csrf_token %}
        <button type="submit" class="btn btn-added"><img src="{% static 'assets/img/icons/delete.svg' %}" alt="img" class="me-1">Clear PriceList Table</button>
    </form>
    </div>
    </div>


    {% if success_message %}
<div class="container">
    <div class="notice notice-success">
        <strong>{{ success_message }}</strong>
    </div>
</div>
{% endif %}

    <div class="card">
        <div class="card-body">
        <div class="table-top">
        <div class="search-set">
        <div class="search-path">



            <a class="btn btn-filter" id="filter_search">
                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                </a>
        </div>

                <div class="search-input">
                    <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
                </div>
        </div>
        <div class="wordset">
            <ul>
            <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
            </li>
            <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
            </li>
            <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
            </li>
            </ul>
        </div>
        </div>


        <div class="card" id="filter_inputs">
            <div class="card-body pb-0">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                    <input type="text" placeholder="Enter Name">
                    </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                        <input type="text" placeholder="Enter Reference No">
                        </div>
                        </div>
                        
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="form-group">
        <select class="form-control">
        <option>Completed</option>
        <option>Paid</option>
        </select>
        </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
            <a class="btn btn-filters ms-auto"><img src="{% static 'assets/img/icons/search-whites.svg' %}" alt="img"></a>
            </div>
            </div>
                        
                        
            
    </div>
</div>
</div>


<div class="table-responsive">
    <table class="table  datanew">
    <thead>
    <tr>
    <th></th>
    <th>Product Code</th>
    <th>Supplier</th>
    <th>Description</th>
    <th>Currency</th>
    <th>Supplier Cost</th>
    <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
        {% for data in PriceList %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ data.prodCode }}</td>
    <td>{{ data.prodSupplier }}</td>
    <td>{{ data.prodDesc|slice:"0:30" }}{% if data.prodDesc|length > 30 %}...{% endif %}</td>
    <td>{{ data.prodCurrency }}</td>
    <td>{{ data.prodPrice }}</td>
    <td class="text-end">
    <a class="me-3" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editpayment">
    <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img">
    </a>
    </td>
    </tr>
       {% endfor %}
    </tbody>
    </table>
    </div>
        

</div>
</div>

{% endblock %}