{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="page-header">
    <div class="page-title">
    <h4>Daily Currency Exchange Rates</h4>
    <h6>Stay updated with the latest currency exchange rates.</h6>
    </div>
    <div class="page-btn">
    <a href="#" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#addpayment"><img src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1">Add Daily Currency Rate</a>
    </div>
    </div>

{% if form_sub_dup %}
<div class="container">
    <div class="notice notice-danger">
        <strong>{{ form_sub_dup }}</strong>
    </div>
</div>
{% endif %}

{% if form_sub_success %}
<div class="container">
    <div class="notice notice-success">
        <strong>{{ form_sub_success }}</strong>
    </div>
</div>
{% endif %}

{% if save_err %}
<div class="container">
    <div class="notice notice-danger">
        <strong>{{ save_err }}</strong> Sorry, kindly contact the ICT department for assistance.
    </div>
</div>
{% endif %}

    <div class="card">
        <div class="card-body">
        <div class="table-top">
        <div class="search-set">
        <div class="search-path">



            <a class="btn btn-filter" id="filter_search">
                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                </a>
        </div>

                <div class="search-input">
                    <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
                </div>
        </div>
        <div class="wordset">
            <ul>
            <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
            </li>
            <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
            </li>
            <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
            </li>
            </ul>
        </div>
        </div>


        <div class="card" id="filter_inputs">
            <div class="card-body pb-0">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                    <input type="text" placeholder="Enter Name">
                    </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                        <input type="text" placeholder="Enter Reference No">
                        </div>
                        </div>
                        
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="form-group">
        <select class="form-control">
        <option>Completed</option>
        <option>Paid</option>
        </select>
        </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
            <a class="btn btn-filters ms-auto"><img src="{% static 'assets/img/icons/search-whites.svg' %}" alt="img"></a>
            </div>
            </div>
                        
                        
            
    </div>
</div>
</div>


<div class="table-responsive">
    <table class="table  datanew">
    <thead>
    <tr>
    <th></th>
    <th>Date</th>
    <th>Currency</th>
    <th>Daily Sales Rate</th>
    <th>Updated By</th>
    <th>Updated On</th>
    <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
        {% for data in ExchangeRate %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ data.rateDate }}</td>
    <td>{{ data.rateBaseCurrency }}_{{ data.rateTargetCurrency }}</td>
    <td class="text-red">{{ data.rateValue }}</td>
    <td>{{ data.rateUpdatedOn }}</td>
    <td>{{ data.rateUpdatedBy }}</td>
    <td class="text-end">
    <a class="me-3" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editpayment">
    <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img">
    </a>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
        

</div>
</div>




<!-- modal to add -->
<div class="modal fade" id="addpayment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    	<form method="POST">
            {% csrf_token %}
    <div class="modal-header">
    <h5 class="modal-title">Daily Currency Exchange Rate</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <div class="row">
        {{ form.as_p }}
    </div>
    </div>

    <div class="modal-footer ">
    <button type="submit" class="btn btn-submit">Add Exchange Rate</button>
    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
    </div>
    </form>
    </div>
    </div>
    </div>
<!-- modal add end-->



<script>
    function validateDecimal(input) {
        // Remove any non-numeric and non-decimal characters
        input.value = input.value.replace(/[^0-9.,]/g, '');
    
        // Replace commas with periods (if your locale uses commas as decimals)
        input.value = input.value.replace(/,/g, '.');
    
        // Ensure there's only one decimal point
        var parts = input.value.split('.');
        if (parts.length > 2) {
            input.value = parts[0] + '.' + parts.slice(1).join('');
        }
    }
    
</script>
{% endblock %}