{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="page-header">
    <div class="page-title">
    <h4>BPO Inventory List</h4>
    <h6>Efficiently Track Your BPO Inventory</h6>
    </div>
    <div class="page-btn">
        <form method="POST">
            {% csrf_token %}
        <button type="submit" class="btn btn-added"><img src="{% static 'assets/img/icons/download.svg' %}" alt="img" class="me-1">Sync to Xpress Inventory</button>
    </form>
    </div>
    </div>

    {% if success_message %}
<div class="container">
    <div class="notice notice-success">
        <strong>{{ success_message }}</strong>
    </div>
</div>
{% endif %}

    <div class="card">
        <div class="card-body">
        <div class="table-top">
        <div class="search-set">
                <div class="search-input">
                    <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
                </div>
        </div>
        <div class="wordset">
            <ul>
            <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
            </li>
            <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
            </li>
            <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
            </li>
            </ul>
        </div>
        </div>




<div class="table-responsive">
    <table class="table  datanew">
    <thead>
    <tr>
    <th></th>
    <th>Product Code</th>
    <th>Description</th>
    <th>Category</th>
    <th>Created on</th>
    </tr>
    </thead>
    <tbody>
        {% for data in results %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ data.fldInventoryCode }}</td>
    <td>{{ data.fldDescription|slice:"0:30" }}{% if data.fldDescription|length > 30 %}...{% endif %}</td>
    <td>{{ data.fldCategoryDesc }}</td>
    <td>{{ data.fldAmendDate }}</td>
    </tr>
       {% endfor %}
    </tbody>
    </table>
    </div>
        

</div>
</div>

{% endblock %}