{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="page-header">
    <div class="page-title">
    <h4>Supplier Price List Upload</h4>
    <h6>Batch supplier pricelist file upload</h6>
    </div>
    </div>


    <div class="card">
        <div class="card-header">
        <h5 class="card-title">Upload Supplier Price List</h5>
        <p class="card-text">Please use this form to upload a supplier's price list from a CSV file. Enter the supplier's name, the currency used in the price list, and choose the CSV file to upload. Ensure that the xlsx file follows the correct format for successful processing. <a href="#">Click here to view</a> the required xlsx format </p>
        </div>
        <div class="card-body">
        <div class="row">
        <div class="col-sm">
        <form class="was-validated" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="mb-3">
        <select class="form-select" name="supplier_name" required aria-label="select example">
        <option value="">Select supplier below </option>
        <option value="ASTRA CHEMICALS">ASTRA CHEMICALS</option>
        <option value="BAMM STATIONERS">BAMM STATIONERS</option>
        <option value="Buy Back Supplier">Buy Back Supplier</option>
        <option value="COPIER PARTS COMPANY (Pvt) Ltd">COPIER PARTS COMPANY (Pvt) Ltd</option>
        <option value="CORPORATE COPIERS">CORPORATE COPIERS</option>
        <option value="DELACE SOUTH AFRICA">DELACE SOUTH AFRICA</option>
        </select>
        <div class="invalid-feedback">Please select the supplier's name.</div>
        </div>
        <div class="mb-3">
        <select class="form-select" name="pl_currency" required aria-label="select example">
        <option value>Open this select menu</option>
        <option value="ZAR">ZAR</option>
        <option value="ZWL">ZWL</option>
        <option value="USD">USD</option>
        </select>
        <div class="invalid-feedback">Please select a valid currency code (e.g., ZAR, ZWL, USD)</div>
        </div>
        <div class="mb-3">
        <input type="file" class="form-control" aria-label="file example" name="my_file" required>
        <div class="invalid-feedback">Please upload a valid CSV file containing the price list.</div>
        </div>



        <div class="col-lg-12">
            <div class="form-group mb-0">
            <button type="submit" class="btn btn-submit me-2">Upload Price List</button>
            <a href="javascript:void(0);" class="btn btn-cancel">Cancel</a>
            </div>
            </div>
        </form>
        </div>
        </div>
        </div>
        </div>

{% endblock %}