{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="page-header">
    <div class="page-title">
    <h4>Import Products</h4>
    <h6>Bulk upload your products</h6>
    </div>
    </div>


    <div class="card">
        <div class="card-header">
        <h5 class="card-title">Supported elements</h5>
        <p class="card-text">Form validation styles are also available for bootstrap custom form controls. Field must be in csv format - click here to download Sample File</p>
        </div>
        <div class="card-body">
        <div class="row">
        <div class="col-sm">
        <form class="was-validated" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="mb-3">
        <select class="form-select" required aria-label="select example">
        <option value>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
        <div class="invalid-feedback">Example invalid select feedback</div>
        </div>
        <div class="mb-3">
        <select class="form-select" required aria-label="select example">
        <option value>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
        <div class="invalid-feedback">Example invalid select feedback</div>
        </div>
        <div class="mb-3">
        <input type="file" class="form-control" aria-label="file example" name="my_file" required>
        <div class="invalid-feedback">Example invalid form file feedback</div>
        </div>



        <div class="col-lg-12">
            <div class="form-group mb-0">
            <button type="submit" class="btn btn-submit me-2">Upload</button>
            <a href="javascript:void(0);" class="btn btn-cancel">Cancel</a>
            </div>
            </div>
        </form>
        </div>
        </div>
        </div>
        </div>

{% endblock %}