{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
    <ul>
    <li class="submenu-open">
    <h6 class="submenu-hdr">Main</h6>
    <ul>
    <li class="active">
    <a href="{% url 'dashboard' %}"><i data-feather="grid"></i><span>Dashboard</span></a>
    </li>



    <li class="submenu">
        <a href="javascript:void(0);"><i data-feather="users"></i><span>Manage Pricelist</span><span class="menu-arrow"></span></a>
        <ul>
        <li><a href="{% url 'uploadpricelist' %}">Upload Pricelist</a></li>
        <li><a href="{% url 'pricelist' %}">View Current Pricelist</a></li>
        </ul>
        </li>




    
    </ul>
    </li>
    <li class="submenu-open">
    <h6 class="submenu-hdr">Rate and Pricing Management</h6>
    <ul>
    <li><a href="{% url 'rateupdatelog' %}"><i data-feather="box"></i><span>Update Rates</span></a></li>
    <li><a href="{% url 'costfactorspanel' %}"><i data-feather="codepen"></i><span>Cost Factors Panel</span></a></li>
    </ul>
    </li>
    <li class="submenu-open">
    <h6 class="submenu-hdr">Integration with BPO</h6>
    <ul>
    <li><a href="{% url 'syncinventory' %}"><i data-feather="shopping-cart"></i><span>Sync Inventory Data</span></a></li>
    <li><a href="{% url 'inventory' %}"><i data-feather="shopping-cart"></i><span>Inventory Pricing</span></a></li>
    <li><a href="{% url 'calculatecost' %}"><i data-feather="copy"></i><span>L/Cost Calculation</span></a></li>
    <li><a href="{% url 'integrationsettings' %}"><i data-feather="file-text"></i><span>Integration Settings</span></a></li>
    <li><a href="{% url 'BPOreporting' %}"><i data-feather="copy"></i><span>BPO Reports</span></a></li>
    </ul>
    </li>



    <li class="submenu-open">
    <h6 class="submenu-hdr">User Management</h6>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"><i data-feather="users"></i><span>Manage Users</span><span class="menu-arrow"></span></a>
        <ul>
        <li><a href="{% url 'createuser' %}">Create User Account</a></li>
        <li><a href="{% url 'users' %}">User Management</a></li>
        </ul>
        </li>
    </ul>
    </li>
    <li class="submenu-open">
    <h6 class="submenu-hdr">User Activity Log</h6>
    <ul>
        <li>
            <a href="{% url 'accesslog' %}"><i data-feather="database"></i><span>System Access Log</span> </a>
            </li>
            <li>
                <a href="{% url 'activitylog' %}"><i data-feather="layers"></i><span>View Activity Log</span> </a>
                </li>
                <li>
                    <a href="{% url 'auditconfigs' %}"><i data-feather="pen-tool"></i><span>Audit Trail Configs</span> </a>
                    </li>
    </ul>
    </li>
    <li class="submenu-open">
        <h6 class="submenu-hdr">Help and Support</h6>
        <ul>
        <li>
        <a href="{% url 'documentation' %}"><i data-feather="map"></i><span>Documentation</span> </a>
        </li>
        <li>
        <a href="{% url 'faqs' %}"><i data-feather="file-minus"></i><span>FAQs</span> </a>
        </li>
        <li>
            <a href="{% url 'support' %}"><i data-feather="shield"></i><span>Contact Support</span> </a>
            </li>
            <li>
                <a href="{% url 'release' %}"><i data-feather="file"></i><span>Release Notes</span> </a>
                </li>
        </ul>
        </li>
    <li class="submenu-open">
    <h6 class="submenu-hdr">Settings</h6>
    <ul>
    <li class="submenu">
    <a href="javascript:void(0);"><i data-feather="settings"></i><span>Settings</span><span class="menu-arrow"></span></a>
    <ul>
    <li><a href="{% url 'system' %}">System Configuration</a></li>
    <li><a href="{% url 'security' %}">Security and Permissions</a></li>
    <li><a href="{% url 'HostCenter' %}">Backup and Restore</a></li>
    </ul>
    </li>
    <li>
    <a href="{% url 'login' %}"><i data-feather="log-out"></i><span>Logout</span> </a>
    </li>
    </ul>
    </li>
    </ul>
    </div>
    </div>
    </div>